.addPostPic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.addPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    border-radius: 10px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
    /* box shadow generator */
    -webkit-box-shadow: 5px 5px 5px 13px 5px rgba(0,0,0,0.14);
    box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.14);
}

.addPostContainer{
    padding: 15px;
}

.addPostTop{
    display: flex;
    align-items: center;
}

.addPostInput{
    border: none;
    width: 800px;
    margin-left: 10px;
}

.addPostInput:focus{
    outline: none;
}

.postHr{
    margin: 20px;
}

.addPostBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addPostOptions{
    display: flex;
    margin-left: 40px;
}

.addPostOption{
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}
.addPostOptionText{
    font-size: 15px;
}

.PostButton{
    border: none;
    width: 60px;
    padding: 7px;
    border-radius: 5px;
    margin-right: 20px;
    background-color: blue;
    color: white;
    cursor: pointer;
}